<!-- Menu Mobile -->
<div class="wrap-side-menu">
	<nav class="side-menu">
		<ul class="main-menu">
			<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
				<span class="topbar-child1">
					Reduction de 30%
				</span>
			</li>

			<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
				<div class="topbar-child2-mobile">
					{% if app.user %}
						<span class="topbar-email">
							{{app.user.nom}}
							{{app.user.prenom}}
						</span>
					{% endif %}

					<div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>XOF</option>
							<option>USD</option>
							<option>EUR</option>
						</select>
					</div>
				</div>
			</li>

			<li class="item-topbar-mobile p-l-10">
				<div class="topbar-social-mobile">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>
			</li>

			<li class="item-menu-mobile">
				<a href="index.html">Accueil</a>
				<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
			</li>

			<li class="item-menu-mobile">
				<a href="product.html">Boutique</a>
			</li>

			<li class="item-menu-mobile">
				<a href="product.html">Blog</a>
			</li>

			<li class="item-menu-mobile">
				<a href="cart.html">A propos</a>
			</li>

			<li class="item-menu-mobile">
				<a href="contact.html">Contacter-nous</a>
			</li>
		</ul>
	</nav>
</div>
